<h3>Edit Class</h3>

<%= form_for @class do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :room_number, "Room Number" %>
    <%= f.number_field :room_number, min: 0 %><br>
    <%= f.submit "Update School class" %><br>
    <%end %>

